USE [master]
GO
/****** Object:  Database [CCHT]    Script Date: 30/06/2026 10:56:34 CH ******/
CREATE DATABASE [CCHT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CCHT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CCHT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CCHT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CCHT_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CCHT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CCHT]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 30/06/2026 10:56:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Coins] [int] NOT NULL,
	[LastLoginDate] [date] NULL,
	[DailyStreak] [tinyint] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_Players] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameSession]    Script Date: 30/06/2026 10:56:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameSession](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlayerId] [int] NOT NULL,
	[StartedAt] [datetime2](3) NOT NULL,
	[EndedAt] [datetime2](3) NULL,
	[Score] [int] NOT NULL,
	[CoinsEarned] [int] NOT NULL,
	[BossKilled] [bit] NOT NULL,
	[NoHitBossKill] [bit] NOT NULL,
 CONSTRAINT [PK_GameSession] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_PlayerSummary]    Script Date: 30/06/2026 10:56:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_PlayerSummary]
AS
SELECT  p.Id,
        p.Username,
        p.Coins,
        p.DailyStreak,
        COUNT(s.Id)              AS TotalSessions,
        ISNULL(SUM(s.Score),0)   AS TotalScore,
        ISNULL(SUM(CASE WHEN s.BossKilled=1 THEN 1 ELSE 0 END),0) AS BossKills,
        ISNULL(SUM(CASE WHEN s.NoHitBossKill=1 THEN 1 ELSE 0 END),0) AS NoHitBossKills,
        MAX(s.StartedAt)         AS LastPlayedAt
FROM dbo.Players p
LEFT JOIN dbo.GameSession s ON s.PlayerId = p.Id
GROUP BY p.Id, p.Username, p.Coins, p.DailyStreak;
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 30/06/2026 10:56:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnemyType]    Script Date: 30/06/2026 10:56:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnemyType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[Hp] [int] NOT NULL,
	[Speed] [int] NOT NULL,
	[ScoreOnKill] [int] NOT NULL,
 CONSTRAINT [PK_EnemyType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemType]    Script Date: 30/06/2026 10:56:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[CooldownMs] [int] NOT NULL,
 CONSTRAINT [PK_ItemType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plane]    Script Date: 30/06/2026 10:56:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plane](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Speed] [int] NOT NULL,
	[Health] [int] NOT NULL,
	[BulletType] [varchar](20) NOT NULL,
	[ImageName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Plane] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 30/06/2026 10:56:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Key] [varchar](50) NOT NULL,
	[Value] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Settings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EnemyType] ON 

INSERT [dbo].[EnemyType] ([Id], [Code], [Hp], [Speed], [ScoreOnKill]) VALUES (1, N'SMALL', 10, 6, 50)
INSERT [dbo].[EnemyType] ([Id], [Code], [Hp], [Speed], [ScoreOnKill]) VALUES (2, N'MEDIUM', 25, 4, 150)
INSERT [dbo].[EnemyType] ([Id], [Code], [Hp], [Speed], [ScoreOnKill]) VALUES (3, N'LARGE', 60, 3, 300)
SET IDENTITY_INSERT [dbo].[EnemyType] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemType] ON 

INSERT [dbo].[ItemType] ([Id], [Code], [CooldownMs]) VALUES (1, N'MISSILE', 2500)
INSERT [dbo].[ItemType] ([Id], [Code], [CooldownMs]) VALUES (2, N'SHIELD', 8000)
INSERT [dbo].[ItemType] ([Id], [Code], [CooldownMs]) VALUES (3, N'COIN', 0)
SET IDENTITY_INSERT [dbo].[ItemType] OFF
GO
SET IDENTITY_INSERT [dbo].[Settings] ON 

INSERT [dbo].[Settings] ([Id], [Key], [Value]) VALUES (1, N'DAILY_BASE', N'50')
INSERT [dbo].[Settings] ([Id], [Key], [Value]) VALUES (2, N'DAILY_DAY7', N'17')
INSERT [dbo].[Settings] ([Id], [Key], [Value]) VALUES (3, N'MISSILE_COOLDOWN_MS', N'3000')
SET IDENTITY_INSERT [dbo].[Settings] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_EnemyType_Code]    Script Date: 30/06/2026 10:56:35 CH ******/
ALTER TABLE [dbo].[EnemyType] ADD  CONSTRAINT [UQ_EnemyType_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GameSession_Player_StartedAt]    Script Date: 30/06/2026 10:56:35 CH ******/
CREATE NONCLUSTERED INDEX [IX_GameSession_Player_StartedAt] ON [dbo].[GameSession]
(
	[PlayerId] ASC,
	[StartedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ItemType_Code]    Script Date: 30/06/2026 10:56:35 CH ******/
ALTER TABLE [dbo].[ItemType] ADD  CONSTRAINT [UQ_ItemType_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Players_Username]    Script Date: 30/06/2026 10:56:35 CH ******/
ALTER TABLE [dbo].[Players] ADD  CONSTRAINT [UQ_Players_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Settings_Key]    Script Date: 30/06/2026 10:56:35 CH ******/
ALTER TABLE [dbo].[Settings] ADD  CONSTRAINT [UQ_Settings_Key] UNIQUE NONCLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GameSession] ADD  CONSTRAINT [DF_GameSession_StartedAt]  DEFAULT (sysutcdatetime()) FOR [StartedAt]
GO
ALTER TABLE [dbo].[GameSession] ADD  CONSTRAINT [DF_GameSession_Score]  DEFAULT ((0)) FOR [Score]
GO
ALTER TABLE [dbo].[GameSession] ADD  CONSTRAINT [DF_GameSession_CoinsEarned]  DEFAULT ((0)) FOR [CoinsEarned]
GO
ALTER TABLE [dbo].[GameSession] ADD  CONSTRAINT [DF_GameSession_BossKilled]  DEFAULT ((0)) FOR [BossKilled]
GO
ALTER TABLE [dbo].[GameSession] ADD  CONSTRAINT [DF_GameSession_NoHit]  DEFAULT ((0)) FOR [NoHitBossKill]
GO
ALTER TABLE [dbo].[Players] ADD  CONSTRAINT [DF_Players_Coins]  DEFAULT ((0)) FOR [Coins]
GO
ALTER TABLE [dbo].[Players] ADD  CONSTRAINT [DF_Players_DailyStreak]  DEFAULT ((0)) FOR [DailyStreak]
GO
ALTER TABLE [dbo].[Players] ADD  CONSTRAINT [DF_Players_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Players] ADD  CONSTRAINT [DF_Players_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[GameSession]  WITH CHECK ADD  CONSTRAINT [FK_GameSession_Player] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[Players] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GameSession] CHECK CONSTRAINT [FK_GameSession_Player]
GO
ALTER TABLE [dbo].[EnemyType]  WITH CHECK ADD  CONSTRAINT [CK_EnemyType_Hp] CHECK  (([Hp]>(0)))
GO
ALTER TABLE [dbo].[EnemyType] CHECK CONSTRAINT [CK_EnemyType_Hp]
GO
ALTER TABLE [dbo].[EnemyType]  WITH CHECK ADD  CONSTRAINT [CK_EnemyType_Score] CHECK  (([ScoreOnKill]>=(0)))
GO
ALTER TABLE [dbo].[EnemyType] CHECK CONSTRAINT [CK_EnemyType_Score]
GO
ALTER TABLE [dbo].[EnemyType]  WITH CHECK ADD  CONSTRAINT [CK_EnemyType_Speed] CHECK  (([Speed]>=(1) AND [Speed]<=(2000)))
GO
ALTER TABLE [dbo].[EnemyType] CHECK CONSTRAINT [CK_EnemyType_Speed]
GO
ALTER TABLE [dbo].[GameSession]  WITH CHECK ADD  CONSTRAINT [CK_GameSession_Time] CHECK  (([EndedAt] IS NULL OR [EndedAt]>=[StartedAt]))
GO
ALTER TABLE [dbo].[GameSession] CHECK CONSTRAINT [CK_GameSession_Time]
GO
ALTER TABLE [dbo].[ItemType]  WITH CHECK ADD  CONSTRAINT [CK_ItemType_Cooldown] CHECK  (([CooldownMs]>=(0) AND [CooldownMs]<=(60000)))
GO
ALTER TABLE [dbo].[ItemType] CHECK CONSTRAINT [CK_ItemType_Cooldown]
GO
ALTER TABLE [dbo].[Players]  WITH CHECK ADD  CONSTRAINT [CK_Players_Coins] CHECK  (([Coins]>=(0)))
GO
ALTER TABLE [dbo].[Players] CHECK CONSTRAINT [CK_Players_Coins]
GO
ALTER TABLE [dbo].[Players]  WITH CHECK ADD  CONSTRAINT [CK_Players_DailyStreak] CHECK  (([DailyStreak]>=(0) AND [DailyStreak]<=(7)))
GO
ALTER TABLE [dbo].[Players] CHECK CONSTRAINT [CK_Players_DailyStreak]
GO
/****** Object:  StoredProcedure [dbo].[sp_EndSession]    Script Date: 30/06/2026 10:56:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EndSession]
    @SessionId      INT,
    @Score          INT,
    @CoinsEarned    INT,
    @BossKilled     BIT,
    @NoHitBossKill  BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.GameSession
       SET EndedAt        = SYSUTCDATETIME(),
           Score          = @Score,
           CoinsEarned    = @CoinsEarned,
           BossKilled     = @BossKilled,
           NoHitBossKill  = @NoHitBossKill
     WHERE Id = @SessionId;

    -- Cộng coin cho người chơi
    UPDATE p
       SET p.Coins = p.Coins + @CoinsEarned
      FROM dbo.Players p
      JOIN dbo.GameSession s ON s.PlayerId = p.Id
     WHERE s.Id = @SessionId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_StartSession]    Script Date: 30/06/2026 10:56:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_StartSession]
    @PlayerId INT,
    @SessionId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.GameSession(PlayerId) VALUES(@PlayerId);
    SET @SessionId = SCOPE_IDENTITY();
END
GO
USE [master]
GO
